@-webkit-keyframes KeyframeSkeleton {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: 0;
  }
}
@keyframes KeyframeSkeleton {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: 0;
  }
}
.top-hero {
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: #fff3e5;
}
.top-hero__imgs {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.top-hero__img {
  width: 150px;
  height: 150px;
}
.top-hero__img:nth-child(1), .top-hero__img:nth-child(3), .top-hero__img:nth-child(6), .top-hero__img:nth-child(8), .top-hero__img:nth-child(9), .top-hero__img:nth-child(11) {
  background: #fee3c2;
}
.top-hero__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
.top-hero__title-line {
  padding: 4px 8px;
  font-size: 16px;
  color: #fff;
  background: #804000;
  border-radius: 4px;
}
.top-hero__title-line + .top-hero__title-line {
  margin-top: 8px;
}

.top-about__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0;
}
.top-about__img {
  width: 50%;
  max-width: 300px;
  aspect-ratio: 1/1;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.top-about__img:first-child {
  -webkit-transform: translate(20px, -24px) rotate(-10deg);
          transform: translate(20px, -24px) rotate(-10deg);
}
.top-about__img:last-child {
  -webkit-transform: translate(-20px, 24px) rotate(5deg);
          transform: translate(-20px, 24px) rotate(5deg);
}
.top-about__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-menu {
  position: relative;
  padding: 48px 0;
  color: #fff;
  background: #b25900;
}
.top-menu::before, .top-menu::after {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  height: 12px;
  content: "";
  background-image: radial-gradient(circle at center, #fff 20%, transparent 20%);
  background-size: 12px 12px;
}
.top-menu::before {
  top: 8px;
}
.top-menu::after {
  bottom: 8px;
}
.top-menu [class^=col-] {
  -ms-flex-item-align: center;
      align-self: center;
}
.top-menu__heading {
  font-weight: bold;
  text-align: center;
}
.top-menu__img {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  overflow: hidden;
  background: #888;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.top-menu__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 576px) {
  .top-hero {
    height: 300px;
  }
  .top-hero__imgs {
    width: 900px;
  }
  .top-hero__img:nth-child(1), .top-hero__img:nth-child(3), .top-hero__img:nth-child(5), .top-hero__img:nth-child(8), .top-hero__img:nth-child(10), .top-hero__img:nth-child(12) {
    background: #fee3c2;
  }
  .top-hero__img:nth-child(6), .top-hero__img:nth-child(9), .top-hero__img:nth-child(11) {
    background: #fff3e5;
  }
  .top-about__imgs {
    padding: 48px 0;
  }
  .top-about__img {
    border-width: 8px;
  }
  .top-about__img:first-child {
    -webkit-transform: translate(32px, -24px) rotate(-10deg);
            transform: translate(32px, -24px) rotate(-10deg);
  }
  .top-about__img:last-child {
    -webkit-transform: translate(-28px, 24px) rotate(5deg);
            transform: translate(-28px, 24px) rotate(5deg);
  }
}
@media screen and (min-width: 768px) {
  .top-hero {
    height: 332px;
  }
  .top-hero__imgs {
    width: 996px;
  }
  .top-hero__img {
    width: 166px;
    height: 166px;
  }
  .top-hero__title-line {
    font-size: 20px;
  }
  .top-menu__heading {
    text-align: left;
  }
  .top-menu__img {
    max-width: none;
  }
}