{% macro default(NAV_ITEMS) %}
<!-- ▼▼▼ ヘッダー（SP） ▼▼▼ -->
<div class="header-sp">
  <div class="header-sp__logo">
    <a href="/">社名○○○○</a>
  </div>
  <button id="js-header-sp-menu-button" class="header-sp__menu-button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
<!-- ▲▲▲ ヘッダー（SP） ▲▲▲ -->
{% endmacro %}