{% extends 'layouts/default.njk' %}
{% set PAGE_DATA = {
  TITLE: 'ページタイトル',
  DESCRIPTION: 'ページ概要',
  PATH: '',
  NAV: 'parts',
  ROOT: './',
  SCHEMA_ITEMS: [
    {
      ID: CONSTANTS.DOMAIN,
      NAME: CONSTANTS.SITE_NAME
    },
    {
      ID: CONSTANTS.DOMAIN + 'parts.html',
      NAME: 'パーツ集'
    }
  ],
  BREADCRUMB_ITEMS: [
    {
      LINK: '/',
      LABEL: 'トップ'
    },
    {
      LINK: '/parts.html',
      LABEL: 'パーツ集'
    }
  ]
} %}

{% set NEWS_LIST_ITEMS = [
  {
    LINK: '#',
    DATE: '2022.01.03',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.02',
    CATEGORY: 'イベント',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.01',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  }
] %}

{% set TABLE_ITEMS = [
  {
    header: '項目名',
    data: 'テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。'
  },
  {
    header: '項目名',
    data: 'テキストが入ります。<br>テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    header: '項目名',
    data: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  }
] %}

{% set CARD_ITEMS = [
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。',
    price: 980
  },
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。テキストが入ります。',
    price: 980
  },
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。テキストが入ります。',
    price: 980
  },
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。テキストが入ります。',
    price: 980
  },
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。',
    price: 980
  },
  {
    img: 'https://picsum.photos/id/1015/400/200',
    name: '商品名',
    text: 'テキストが入ります。テキストが入ります。',
    price: 980
  }
] %}

{# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
{% from 'components/breadcrumb.njk' import default as BREADCRUMB %}
{% from 'components/cards.njk' import default as CARDS %}
{% from 'components/caution.njk' import default as CAUTION %}
{% import 'components/heading.njk' as HEADING %}
{% from 'components/hero.njk' import default as HERO %}
{% from 'components/modal.njk' import default as MODAL %}
{% from 'components/quote.njk' import default as QUOTE %}
{% from 'components/news-list.njk' import default as NEWS_LIST -%}
{% from 'components/table.njk' import default as TABLE -%}
{# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

{% block PAGE_CONTENT %}
  {# ▼▼▼ ヒーロー ▼▼▼ #}
  {{ HERO('パーツ集', 'PARTS', 'https://picsum.photos/id/1015/1200/200') }}
  {# ▲▲▲ ヒーロー ▲▲▲ #}

  {# ▼▼▼ パンくず ▼▼▼ #}
  {{ BREADCRUMB(PAGE_DATA.BREADCRUMB_ITEMS) }}
  {# ▲▲▲ パンくず ▲▲▲ #}
  
  <div class="container --single pt-5 pb-5">
    {# ▼▼▼ 見出し ▼▼▼ #}
    {{ HEADING.default('大見出し') }}
    {{ HEADING.sub('中見出し') }}
    {# ▲▲▲ 見出し ▲▲▲ #}

    {# ▼▼▼ ボタン ▼▼▼ #}
    <div class="button__container">
      <a href="#" class="button --primary">ボタン</a>
      <a href="#" class="button --secondary">ボタン</a>
      <a href="#" class="button --accent">ボタン</a>
      <a href="#" class="button --primary --rounded">角丸ボタン</a>
      <a href="#" class="button --secondary --rounded">角丸ボタン</a>
      <a href="#" class="button --accent --rounded">角丸ボタン</a>
      <a href="#" class="button --primary --has-icon">
        <span><i class="fas fa-envelope button__icon"></i>アイコンボタン</span>
      </a>
      <a href="#" class="button --secondary --has-icon">
        <span><i class="fas fa-angle-down button__icon"></i>アイコンボタン</span>
      </a>
      <a href="#" class="button --accent --has-icon">
        <span><i class="fas fa-bookmark button__icon"></i>アイコンボタン</span>
      </a>
      <a href="#" class="button --white">白ボタン</a>
      <a href="#" class="button --white --rounded">角丸白ボタン</a>
      <a href="#" class="button --white --has-icon">
        <span><i class="fas fa-info-circle button__icon"></i>アイコン白ボタン</span>
      </a>
    </div>
    {# ▲▲▲ ボタン ▲▲▲ #}

    {# ▼▼▼ お知らせ ▼▼▼ #}
    {{ NEWS_LIST(NEWS_LIST_ITEMS) }}
    {# ▲▲▲ お知らせ ▲▲▲ #}

    {# ▼▼▼ 引用 ▼▼▼ #}
    {% call QUOTE() %}
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    {% endcall %}
    {# ▲▲▲ 引用 ▲▲▲ #}

    {# ▼▼▼ 注意事項 ▼▼▼ #}
    {% call CAUTION('○○についての注意事項') %}
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    {% endcall %}
    {# ▲▲▲ 注意事項 ▲▲▲ #}

    {# ▼▼▼ テーブル ▼▼▼ #}
    {{ TABLE(TABLE_ITEMS) }}
    {# ▲▲▲ テーブル ▲▲▲ #}

    {# ▼▼▼ 画像 ▼▼▼ #}
    <div class="image">
      <img src="https://picsum.photos/id/1015/600/200" alt="">
    </div>
    <div class="image --full">
      <img src="https://picsum.photos/id/1015/1200/200" alt="">
    </div>
    {# ▲▲▲ 画像 ▲▲▲ #}

    {# ▼▼▼ カード ▼▼▼ #}
    {{ CARDS(CARD_ITEMS) }}
    {# ▲▲▲ カード ▲▲▲ #}
  </div>

  {# ▼▼▼ モーダル ▼▼▼ #}
  {% call MODAL('modal') %}
    <p>モーダル</p>
  {% endcall %}
  {# ▲▲▲ モーダル ▲▲▲ #}
{% endblock %}

{# {% block FIX_CONTENT %}
<!-- ▼▼▼ 固定要素（モーダルなど） ▼▼▼ -->
<div>固定要素</div>
<!-- ▲▲▲ 固定要素（モーダルなど） ▲▲▲ -->
{% endblock %} #}
