{% extends 'layouts/has-aside.njk' %}
{% set PAGE_DATA = {
  TITLE: 'ページタイトル',
  DESCRIPTION: 'ページ概要',
  PATH: '',
  NAV: 'news',
  ROOT: '../',
  SCHEMA_ITEMS: [
    {
      ID: CONSTANTS.DOMAIN,
      NAME: CONSTANTS.SITE_NAME
    },
    {
      ID: CONSTANTS.DOMAIN + 'news/',
      NAME: 'お知らせ'
    }
  ],
  BREADCRUMB_ITEMS: [
    {
      LINK: '/',
      LABEL: 'トップ'
    },
    {
      LINK: '/news/',
      LABEL: 'お知らせ'
    }
  ]
} %}

{% set NEWS_LIST_ITEMS = [
  {
    LINK: '#',
    DATE: '2022.01.03',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.02',
    CATEGORY: 'イベント',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.01',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.03',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.02',
    CATEGORY: 'イベント',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.01',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.03',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.02',
    CATEGORY: 'イベント',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.01',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  },
  {
    LINK: '#',
    DATE: '2022.01.01',
    CATEGORY: 'お知らせ',
    TEXT: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'
  }
] %}

{% set ASIDE_MENU_ITEMS = [
  {
    label: 'サイドメニュー1',
    link: '#'
  },
  {
    label: 'サイドメニュー2',
    link: '#'
  },
  {
    label: 'サイドメニュー3',
    link: '#'
  }
] %}

{# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
{% from 'components/aside-menu.njk' import default as ASIDE_MENU %}
{% from 'components/breadcrumb.njk' import default as BREADCRUMB %}
{% import 'components/heading.njk' as HEADING %}
{% from 'components/hero.njk' import default as HERO %}
{% from 'components/news-list.njk' import default as NEWS_LIST -%}
{# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

{% block HERO_CONTENT %}
  {# ▼▼▼ ヒーロー ▼▼▼ #}
  {{ HERO('お知らせ', 'NEWS', 'https://picsum.photos/id/1031/1200/200') }}
  {# ▲▲▲ ヒーロー ▲▲▲ #}

  {# ▼▼▼ パンくず ▼▼▼ #}
  {{ BREADCRUMB(PAGE_DATA.BREADCRUMB_ITEMS) }}
  {# ▲▲▲ パンくず ▲▲▲ #}
{% endblock %}

{% block PAGE_CONTENT %}
  {{ NEWS_LIST(NEWS_LIST_ITEMS) }}
{% endblock %}

{% block ASIDE_CONTENT %}
  {# ▼▼▼ サイドメニュー ▼▼▼ #}
  {{ ASIDE_MENU(ASIDE_MENU_ITEMS) }}
  {# ▲▲▲ サイドメニュー ▲▲▲ #}
{% endblock %}

{# {% block FIX_CONTENT %}
<!-- ▼▼▼ 固定要素（モーダルなど） ▼▼▼ -->
<div>固定要素</div>
<!-- ▲▲▲ 固定要素（モーダルなど） ▲▲▲ -->
{% endblock %} #}
