@use "sass:math";
@use "../global" as g;

$BLOCK_NAME: ".button";

$gap: 12px;

#{ $BLOCK_NAME } {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: math.div(-$gap, 2);
    & > #{ $BLOCK_NAME } {
      width: 100%;
      margin: math.div($gap, 2);
      @include g.Mq(sm) {
        width: calc(50% - $gap);
      }
      @include g.Mq(lg) {
        width: calc(math.div(100%, 3) - $gap);
      }
    }
  }

  display: inline-block;
  padding: 4px 24px 6px;
  color: g.$c_white;
  text-align: center;
  cursor: pointer;
  transition: all g.$d_default;

  &.--primary {
    background: g.$c_primary;
    &:hover {
      background-color: g.$c_primary_dark;
    }
  }

  &.--secondary {
    background: g.$c_secondary;
    &:hover {
      background-color: g.$c_secondary_dark;
    }
  }

  &.--accent {
    background: g.$c_accent;
    &:hover {
      background-color: g.$c_accent_dark;
    }
  }

  &.--white {
    color: g.$c_secondary;
    background: g.$c_white;
    &:hover {
      color: g.$c_white;
      background-color: g.$c_accent;
    }
  }

  &.--rounded {
    border-radius: 9999px;
  }

  &.--has-icon {
    & > span {
      position: relative;
      display: inline-block;
      padding-left: 1.5em;
    }
    @at-root #{ $BLOCK_NAME }__icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 1em;
      margin: auto;
    }
  }
}