@use "../global" as g;

$BLOCK_NAME: ".caution";

#{ $BLOCK_NAME } {
  position: relative;
  padding: 20px 16px 16px;
  margin-top: 12px;
  background-color: g.$c_caution_bg;
  border-radius: g.$radius_default;

  &__heading {
    position: absolute;
    top: -12px;
    right: 0;
    left: 0;
    display: inline-block;
    margin: auto;
    font-weight: bold;
    color: g.$c_caution;
    text-align: center;
  }
}