@use "../global" as g;

$BLOCK_NAME: ".form";

#{ $BLOCK_NAME } {
  &__field {
    display: flex;
    flex-direction: column;
    @include g.Mq(md) {
      flex-direction: row;
    }
    & + & {
      margin-top: 12px;
    }
  }

  &__label {
    display: block;
    flex-shrink: 0;
    padding-bottom: 4px;
    font-weight: bold;
    text-align: left;
    @include g.Mq(md) {
      width: 120px;
      padding: 4px 8px 0 0;
      text-align: right;
    }
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid g.$c_border;
    border-radius: g.$radius_default;
  }
}