@use "../global" as g;

$BLOCK_NAME: ".go-top";

#{ $BLOCK_NAME } {
  position: fixed;
  right: 24px;
  bottom: 8px;
  z-index: g.$z_float;
  width: 48px;
  height: 48px;
  visibility: hidden;
  transition-delay: g.$d_default;
  &.--show {
    visibility: visible;
    transition-delay: 0s;
  }
  &.--fix-bottom {
    position: absolute;
    bottom: -24px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: g.$c_white;
    cursor: pointer;
    background: g.$c_accent;
    border-radius: 50%;
    box-shadow: g.$c_shadow_1;
    opacity: 0;
    transition: background-color g.$d_default, opacity g.$d_default;
    &:hover {
      background-color: g.$c_accent_dark;
    }
    @at-root #{ $BLOCK_NAME }.--show & {
      opacity: 1;
    }
  }
}