@use "../global" as g;

$BLOCK_NAME: ".go-top";

#{ $BLOCK_NAME } {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: g.$c_accent;
  bottom: 8px;
  right: 24px;
  border-radius: 50%;
  z-index: g.$z_float;
  box-shadow: g.$c_shadow_1;
  color: g.$c_white;
  cursor: pointer;
  transition: background-color g.$d_default;
  &:hover {
    background-color: g.$c_accent_dark;
  }
  &.--pos-bottom {
    position: absolute;
    bottom: -24px;
  }
}