@use "../global" as g;

$BLOCK_NAME: ".heading";
@mixin Dot() {
  display: block;
  width: 4px;
  height: 4px;
  background: g.$c_primary;
  border-radius: 50%;
}

#{ $BLOCK_NAME } {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 24px;
  font-weight: bold;
  text-align: center;

  &__decoration {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @include Dot();
    &::before,
    &::after {
      position: absolute;
      top: 0;
      content: '';
      @include Dot();
    }
    &::before {
      left: -12px;
    }
    &::after {
      right: -12px;
    }
  }
}