@use "../global" as g;

$BLOCK_NAME: ".header";

#{ $BLOCK_NAME } {
  display: none;

  @include g.Mq(lg) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: g.$z_fixed;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 24px;
    background: g.$c_white;
    box-shadow: g.$shadow_2;
  
    &__logo {
      font-weight: bold;
    }
  
    &__nav-items {
      display: flex;
      margin-left: 24px;
      font-size: 12px;
    }
  
    &__nav-item {
      padding-left: 12px;
    }
  
    &__form {
      display: flex;
      margin-left: auto;
      & > .button {
        display: block;
        width: 180px;
        & + .button {
          margin-left: 8px;
        }
      }
    }
  }
}