@use "../global" as g;

$BLOCK_NAME: ".heading-sub";

#{ $BLOCK_NAME } {
  text-align: center;
  overflow: hidden;
  font-weight: bold;

  &__text {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    color: g.$c_primary;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50vw;
      height: 1px;
      margin: auto;
      background: g.$c_primary;
      content: '';
    }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
  }
}