@use "../global" as g;

$BLOCK_NAME: ".header-sp";

#{ $BLOCK_NAME } {
  &__wrapper {
    z-index: g.$z_fixed;
    @include g.Mq(lg) {
      display: none;
    }
  }
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  background: g.$c_white;
  box-shadow: g.$shadow_2;

  &__logo {
    font-weight: bold;
  }

  &__button {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    margin-left: auto;
    cursor: pointer;
    & > span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 2px;
      margin: auto;
      background: g.$c_black;
      transition: all g.$d_default;
      &:nth-child(2) {
        transform: translateY(12px);
      }
      &:nth-child(3) {
        transform: translateY(-12px);
      }
    }
    &.--open {
      & > span:nth-child(1) {
        opacity: 0;
      }
      & > span:nth-child(2) {
        transform: translateY(0) rotate(45deg);
      }
      & > span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition-delay: g.$d_default;
    &.--open {
      visibility: visible;
      transition-delay: 0s;
    }
  }

  &__menu-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 80px 16px 16px;
    background: g.$c_white;
    transition: transform g.$d_default;
    transform: translateX(100%);
    @at-root #{ $BLOCK_NAME }__menu.--open & {
      transform: translateX(0);
    }
  }

  &__menu-nav-item {
    padding: 4px 0;
  }

  &__menu-form {
    margin-top: auto;
    & > .button {
      display: block;
      & + .button {
        margin-top: 8px;
      }
    }
  }

  &__menu-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(g.$c_black, 0.7);
    opacity: 0;
    transition: opacity g.$d_default;
    @at-root #{ $BLOCK_NAME }__menu.--open & {
      opacity: 1;
    }
  }
}