@use "../global" as g;

$BLOCK_NAME: ".image";

#{ $BLOCK_NAME } {
  max-width: 360px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: g.$radius_default;
  &.--full {
    width: 100%;
    max-width: none;
  }
  & > img {
    width: 100%;
  }
}