@use "../global" as g;

$BLOCK_NAME: ".layout";

#{ $BLOCK_NAME } {
  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
    padding-top: 56px;
    @include g.Mq(lg) {
      padding-top: 72px;
    }
  }

  &__container.--has-aside {
    display: flex;
    flex-direction: column;
    @include g.Mq(lg) {
      flex-direction: row;
    }
  }

  &__aside {
    margin-top: 36px;
    @include g.Mq(lg) {
      width: 240px;
      flex-shrink: 0;
      margin: 0 0 0 36px;
    }
  }

  &__aside-content {
    @include g.Mq(lg) {
      position: sticky;
      top: 90px;
    }
  }
}