@use "../global" as g;

$BLOCK_NAME: ".layout";

#{ $BLOCK_NAME } {
  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__main {
    position: relative;
    flex: 1 1 auto;
    padding-top: 56px;
    @include g.Mq(lg) {
      padding-top: 72px;
    }
  }
}