{% macro default(ITEMS) %}
<!-- ▼▼▼ パンくず ▼▼▼ -->
<div class="breadcrumb">
  <div class="container">
    <ul class="breadcrumb__items">
      {% for ITEM in ITEMS %}
        {# クラス名を判定 #}
        {% if ITEMS.length === loop.index %}
          {% set ACTIVE_CLASS = ' --active' %}
        {% else %}
          {% set ACTIVE_CLASS = '' %}
        {% endif %}

        <li class="breadcrumb__item">
          <a href="{{ ITEM.LINK }}" class="breadcrumb__link{{ ACTIVE_CLASS }}">{{ ITEM.LABEL }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- ▲▲▲ パンくず ▲▲▲ -->
{% endmacro %}
