{% macro default(TEXT) %}
<h2 class="heading">
  {{ TEXT }}
  <span class="heading__decoration"></span>
</h2>
{% endmacro %}

{% macro sub(TEXT) %}
<h3 class="heading-sub">
  <span class="heading-sub__text">{{ TEXT }}</span>
</h3>
{% endmacro %}