{%- import 'components/heading.njk' as HEADING -%}
{%- import 'components/circle-button.njk' as CIRCLE_BUTTON -%}

<!-- ▼▼▼ ○○○○について ▼▼▼ -->
<div class="container --single pt-5 pb-5">
  {{ HEADING.default('見出しが入ります') }}
  <div class="content">
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
  <div class="text-center mt-3">
    {{ CIRCLE_BUTTON.default('○○○○について', '/about.html') }}
  </div>
  <div class="top-about__imgs mt-2">
    <div class="top-about__img">
      <img src="https://picsum.photos/id/237/300/300" alt="">
    </div>
    <div class="top-about__img">
      <img src="https://picsum.photos/id/238/300/300" alt="">
    </div>
  </div>
</div>
<!-- ▲▲▲ ○○○○について ▲▲▲ -->