{% set IMG_ITEMS = [
  {
    img: '01'
  },
  {
    img: '02'
  },
  {
    img: '03'
  },
  {
    img: '04'
  },
  {
    img: '05'
  },
  {
    img: '06'
  },
  {
    img: '07'
  },
  {
    img: '08'
  },
  {
    img: '09'
  },
  {
    img: '10'
  },
  {
    img: '11'
  },
  {
    img: '12'
  }
] %}

<div class="hero">
  <div class="container">
    <div class="hero__title">
      <p class="hero__title-line">タイトルが入ります</p>
      <p class="hero__title-line">サブタイトルが入ります</p>
    </div>
    <ul class="hero__imgs">
      {% for ITEM in IMG_ITEMS %}
        <li class="hero__img"></li>
      {% endfor %}
    </ul>
  </div>
</div>